openapi: 3.0.0
info:
  title: OpenEDI API v3
  description: "<B>OpenEDI™</b> is a comprehensive operating system for the ECGrid® Interconnect Infrastructure,<BR>consisting of the following set of .NET Web Services.<BR><BR>For more information on OpenEDI, please visit the Official OpenEDI Website at <a href='http://OpenEDI.com' target=_blank>http://OpenEDI.com</a><BR><BR>The complete OpenEDI Developer's Guide can be downloaded from <A HREF=\"http://openedi.org/schemasdocs/\" target=_blank>http://openedi.org/schemasdocs/</A>.<BR><BR>OpenEDI Developer's Forum: <a href=\"http://forums.ecgrid.com/forumdisplay.php?f=72\" target=_blank>http://forums.ecgrid.com/</a>.<BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;<IMG SRC='http://ecmailbox.ecgrid.com/ECGridStats/ECGridTraffic.png' title='Live graph created with OpenEDI API Calls using ReportTrafficStatsPublic()'><p>Version v3.2 (Build 205)<P>© 1999-2017 <A HREF=\"http://www.ld.com\" target=_blank>Loren Data Corp.</A> All rights reserved.</P><br>"
  contact: {}
  version: '1.0'
servers:
- url: https://openedi.org/v1/osb/api
  variables: {}
- url: https://openedi.org/v1/osb/api
  variables: {}
- url: https://openedi.org/v1/osb/api
  variables: {}
- url: https://openedi.org/v1/osb/api
  variables: {}
paths:
  /ContractAdd:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: Contract Add
      description: <FONT color='red'>PENDING </FONT>Add a Contract
      operationId: ContractAdd
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ContractAddSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractAddSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ContractAdd
      description: <FONT color='red'>PENDING </FONT>Add a Contract
      operationId: GetContractAdd
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OwnerUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractNumber
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CompanyName
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BillingAddress
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EffectiveDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Expires
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: RenewalDays
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OptionTerms
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AggregateNetworks
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AdministratorUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AccountingUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AccountingCCUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PONumber
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractAddHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ContractList:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ContractList
      description: <FONT color='red'>PENDING </FONT>Get List of Contracts belonging to Session User
      operationId: ContractList
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ContractListSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractListSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ContractList
      description: <FONT color='red'>PENDING </FONT>Get List of Contracts belonging to Session User
      operationId: GetContractList
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ActiveDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractListHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ContractInfo:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ContractInfo
      description: <FONT color='red'>PENDING </FONT>Get Contract by ContractID
      operationId: ContractInfo
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ContractInfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractInfoSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ContractInfo
      description: <FONT color='red'>PENDING </FONT>Get Contract by ContractID
      operationId: GetContractInfo
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractInfoHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ContractSetEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ContractSetEx
      description: <FONT color='red'>PENDING </FONT>Set the ContractID and PricelistID to a specified Network/Mailbox
      operationId: ContractSetEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ContractSetExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractSetExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ContractSetEx
      description: <FONT color='red'>PENDING </FONT>Set the ContractID and PricelistID to a specified Network/Mailbox
      operationId: GetContractSetEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PricelistID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractSetExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InvoiceInfo:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InvoiceInfo
      description: <FONT color='red'>PENDING </FONT>Get Invoice by InvoiceID
      operationId: InvoiceInfo
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceInfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceInfoSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InvoiceInfo
      description: <FONT color='red'>PENDING </FONT>Get Invoice by InvoiceID
      operationId: GetInvoiceInfo
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: InvoiceID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceInfoHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InvoiceCalculate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InvoiceCalculate
      description: <FONT color='red'>PENDING </FONT>Create and Invoice by ContractID
      operationId: InvoiceCalculate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCalculateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCalculateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InvoiceCalculate
      description: <FONT color='red'>PENDING </FONT>Create and Invoice by ContractID
      operationId: GetInvoiceCalculate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ReportingMonth
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Include
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: InvoiceDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: InvoiceNumber
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Notice
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SpecialNotice
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Message
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Save
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCalculateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InvoiceCalculateLineItem:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InvoiceCalculateLineItem
      description: <FONT color='red'>PENDING </FONT>Calculate an Invoice Line Item Value for a Specific Month
      operationId: InvoiceCalculateLineItem
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceCalculateLineItemSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCalculateLineItemSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InvoiceCalculateLineItem
      description: <FONT color='red'>PENDING </FONT>Calculate an Invoice Line Item Value for a Specific Month
      operationId: GetInvoiceCalculateLineItem
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ReportingMonth
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AccountReport
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MeasureField
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceCalculateLineItemHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InvoiceSetStatus:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InvoiceSetStatus
      description: <FONT color='red'>PENDING </FONT>Set Invoice Status
      operationId: InvoiceSetStatus
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceSetStatusSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceSetStatusSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InvoiceSetStatus
      description: <FONT color='red'>PENDING </FONT>Set Invoice Status
      operationId: GetInvoiceSetStatus
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: InvoiceID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceSetStatusHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InvoiceList:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InvoiceList
      description: <FONT color='red'>PENDING </FONT>List Invoices for Date Range
      operationId: InvoiceList
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InvoiceListSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceListSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InvoiceList
      description: <FONT color='red'>PENDING </FONT>List Invoices for Date Range
      operationId: GetInvoiceList
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EndDate
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ContractID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceListHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportMonthly:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportMonthly
      description: Selected Monthly Report for the Session Network/Mailbox.
      operationId: ReportMonthly
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportMonthlySoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportMonthlySoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportMonthly
      description: Selected Monthly Report for the Session Network/Mailbox.
      operationId: GetReportMonthly
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Report
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Month
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportMonthlyHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportMonthlyEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportMonthlyEx
      description: Selected Monthly Report for a specified Network/Mailbox.
      operationId: ReportMonthlyEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportMonthlyExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportMonthlyExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportMonthlyEx
      description: Selected Monthly Report for a specified Network/Mailbox.
      operationId: GetReportMonthlyEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Report
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Month
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportMonthlyExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportTrafficStats:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportTrafficStats
      description: Statistical Traffic Report for a period of time for the Session Network/Mailbox.
      operationId: ReportTrafficStats
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportTrafficStatsSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportTrafficStats
      description: Statistical Traffic Report for a period of time for the Session Network/Mailbox.
      operationId: GetReportTrafficStats
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: TargetTime
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NumPeriods
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Period
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportTrafficStatsEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportTrafficStatsEx
      description: Statistical Traffic Report for a period of time for a specified Network/Mailbox.
      operationId: ReportTrafficStatsEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportTrafficStatsExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportTrafficStatsEx
      description: Statistical Traffic Report for a period of time for a specified Network/Mailbox.
      operationId: GetReportTrafficStatsEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: TargetTime
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NumPeriods
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Period
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportTrafficStatsPublic:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportTrafficStatsPublic
      description: Statistical Public System-Wide Traffic Report for Last 72 Hours.
      operationId: ReportTrafficStatsPublic
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportTrafficStatsPublicSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsPublicSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportTrafficStatsPublic
      description: Statistical Public System-Wide Traffic Report for Last 72 Hours.
      operationId: GetReportTrafficStatsPublic
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportTrafficStatsPublicHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportInstantStats:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportInstantStats
      description: Instant Statistics for the Session Network/Mailbox.
      operationId: ReportInstantStats
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportInstantStatsSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportInstantStatsSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportInstantStats
      description: Instant Statistics for the Session Network/Mailbox.
      operationId: GetReportInstantStats
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Minutes1
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Minutes2
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportInstantStatsHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /ReportInstantStatsEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: ReportInstantStatsEx
      description: Instant Statistics for a specified Network/Mailbox.
      operationId: ReportInstantStatsEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ReportInstantStatsExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportInstantStatsExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: ReportInstantStatsEx
      description: Instant Statistics for a specified Network/Mailbox.
      operationId: GetReportInstantStatsEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Minutes1
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Minutes2
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ReportInstantStatsExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Add:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Add
      description: Add a new AS2 Connection.
      operationId: AS2Add
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2AddSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2AddSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Add
      description: Add a new AS2 Connection.
      operationId: GetAS2Add
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OwnerUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridHosted
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AS2Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: URL
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SignData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EncryptData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CompressData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ReceiptType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPAuthentication
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPUser
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPPassword
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EndUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2AddHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CommAdd:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CommAdd
      description: Add a new Communication Connection.
      operationId: CommAdd
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CommAddSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommAddSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CommAdd
      description: Add a new Communication Connection.
      operationId: GetCommAdd
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OwnerUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridHosted
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: URL
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SignData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EncryptData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CompressData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ReceiptType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPAuthentication
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPUser
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPPassword
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EndUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommAddHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2SetPair:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2SetPair
      description: Set the AS2 ID pair for two ECGridIDs.
      operationId: AS2SetPair
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2SetPairSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2SetPairSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2SetPair
      description: Set the AS2 ID pair for two ECGridIDs.
      operationId: GetAS2SetPair
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridIDFrom
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridIDTo
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AS2ID1
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AS2ID2
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2SetPairHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Pair:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Pair
      description: Find the AS2 ID pair for two ECGridIDs.
      operationId: AS2Pair
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2PairSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2PairSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Pair
      description: Find the AS2 ID pair for two ECGridIDs.
      operationId: GetAS2Pair
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridIDFrom
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ECGridIDTo
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: DefaultAS2ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2PairHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Update:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Update
      description: Update an AS2 Connection.
      operationId: AS2Update
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2UpdateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2UpdateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Update
      description: Update an AS2 Connection.
      operationId: GetAS2Update
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OwnerUserID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: AS2Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: URL
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SignData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EncryptData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CompressData
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ReceiptType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPAuthentication
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPUser
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: HTTPPassword
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: EndUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2UpdateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2List:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2List
      description: List AS2 Profiles for Session Network/Mailbox.
      operationId: AS2List
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2ListSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2ListSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2List
      description: List AS2 Profiles for Session Network/Mailbox.
      operationId: GetAS2List
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: WithCerts
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2ListHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2ListEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2ListEx
      description: List AS2 Profiles for specified Network/Mailbox.
      operationId: AS2ListEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2ListExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2ListExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2ListEx
      description: List AS2 Profiles for specified Network/Mailbox.
      operationId: GetAS2ListEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: WithCerts
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2ListExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Find:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Find
      description: Find AS2 Profiles by Identifier.
      operationId: AS2Find
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2FindSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2FindSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Find
      description: Find AS2 Profiles by Identifier.
      operationId: GetAS2Find
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2FindHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CommList:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CommList
      description: List Communication Profiles for Session Network/Mailbox.
      operationId: CommList
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CommListSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommListSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CommList
      description: List Communication Profiles for Session Network/Mailbox.
      operationId: GetCommList
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: WithCerts
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommListHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CommListEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CommListEx
      description: List Communications Profiles for specified Network/Mailbox.
      operationId: CommListEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CommListExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommListExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CommListEx
      description: List Communications Profiles for specified Network/Mailbox.
      operationId: GetCommListEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: WithCerts
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommListExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CommFind:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CommFind
      description: Find Communication Profiles by Identifier.
      operationId: CommFind
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CommFindSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommFindSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CommFind
      description: Find Communication Profiles by Identifier.
      operationId: GetCommFind
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PrivateKeyRequired
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommFindHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Info:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Info
      description: Get AS2 Profile by CommID.
      operationId: AS2Info
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2InfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2InfoSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Info
      description: Get AS2 Profile by CommID.
      operationId: GetAS2Info
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2InfoHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CommInfo:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CommInfo
      description: Get AS2 Profile by CommID.
      operationId: CommInfo
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CommInfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommInfoSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CommInfo
      description: Get AS2 Profile by CommID.
      operationId: GetCommInfo
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommInfoHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2SetStatus:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2SetStatus
      description: Set AS2 Connection Status.
      operationId: AS2SetStatus
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2SetStatusSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2SetStatusSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2SetStatus
      description: Set AS2 Connection Status.
      operationId: GetAS2SetStatus
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Status
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2SetStatusHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2Terminate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2Terminate
      description: Terminate an AS2 Connection.
      operationId: AS2Terminate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2TerminateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2TerminateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2Terminate
      description: Terminate an AS2 Connection.
      operationId: GetAS2Terminate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2TerminateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2CertAddPublic:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2CertAddPublic
      description: "<font color='red'>DEPRECATED: use CertificateAddPublic() / Add a new Public AS2 Certificate.</font>"
      operationId: AS2CertAddPublic
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2CertAddPublicSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertAddPublicSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2CertAddPublic
      description: "<font color='red'>DEPRECATED: use CertificateAddPublic() / Add a new Public AS2 Certificate.</font>"
      operationId: GetAS2CertAddPublic
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Usage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerAS2ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerURL
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: StringArray
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/s1_StringArray'
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertAddPublicHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /CertificateAddPublic:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: CertificateAddPublic
      description: Add a new Public Certificate.
      operationId: CertificateAddPublic
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CertificateAddPublicSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateAddPublicSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: CertificateAddPublic
      description: Add a new Public Certificate.
      operationId: GetCertificateAddPublic
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Usage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerCommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerURL
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: StringArray
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/s1_StringArray'
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateAddPublicHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2CertAddPrivate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2CertAddPrivate
      description: "<font color='red'>DEPRECATED: use CertificateAddPrivate() / Add a new Private AS2 Certificate.</font>"
      operationId: AS2CertAddPrivate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2CertAddPrivateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertAddPrivateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2CertAddPrivate
      description: "<font color='red'>DEPRECATED: use CertificateAddPrivate() / Add a new Private AS2 Certificate.</font>"
      operationId: GetAS2CertAddPrivate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Usage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerAS2ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: StringArray
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/s1_StringArray'
      - name: Password
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertAddPrivateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2CertCreatePrivate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2CertCreatePrivate
      description: Create a new Private AS2 Certificate generated by OpenEDI.
      operationId: AS2CertCreatePrivate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2CertCreatePrivateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertCreatePrivateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2CertCreatePrivate
      description: Create a new Private AS2 Certificate generated by OpenEDI.
      operationId: GetAS2CertCreatePrivate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: BeginUsage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Usage
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SecureHashAlgorithm
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PartnerAS2ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Expires
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertCreatePrivateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2CertRenewPrivate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2CertRenewPrivate
      description: Create a new Private AS2 Certificate generated by OpenEDI.
      operationId: AS2CertRenewPrivate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2CertRenewPrivateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertRenewPrivateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2CertRenewPrivate
      description: Create a new Private AS2 Certificate generated by OpenEDI.
      operationId: GetAS2CertRenewPrivate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CertKeyID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OverlapDays
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Years
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: SecureHashAlgorithm
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertRenewPrivateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2CertTerminate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2CertTerminate
      description: Terminate an AS2 Certificate.
      operationId: AS2CertTerminate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2CertTerminateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertTerminateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2CertTerminate
      description: Terminate an AS2 Certificate.
      operationId: GetAS2CertTerminate
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CertKeyID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2CertTerminateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /AS2DefaultMailbox:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: AS2DefaultMailbox
      description: Set AS2ID as Default for a Mailbox.
      operationId: AS2DefaultMailbox
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/AS2DefaultMailboxSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2DefaultMailboxSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: AS2DefaultMailbox
      description: Set AS2ID as Default for a Mailbox.
      operationId: GetAS2DefaultMailbox
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AS2DefaultMailboxHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /GISBList:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: GISBList
      description: <FONT color='red'>PENDING </FONT>List GISB Profiles for Session Network/Mailbox.
      operationId: GISBList
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/GISBListSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBListSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: GISBList
      description: <FONT color='red'>PENDING </FONT>List GISB Profiles for Session Network/Mailbox.
      operationId: GetGISBList
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBListHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /GISBListEx:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: GISBListEx
      description: <FONT color='red'>PENDING </FONT>List GISB Profiles for specified Network/Mailbox.
      operationId: GISBListEx
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/GISBListExSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBListExSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: GISBListEx
      description: <FONT color='red'>PENDING </FONT>List GISB Profiles for specified Network/Mailbox.
      operationId: GetGISBListEx
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: NetworkID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: MailboxID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBListExHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /GISBFind:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: GISBFind
      description: <FONT color='red'>PENDING </FONT>Find GISB Profiles by Identifier.
      operationId: GISBFind
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/GISBFindSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBFindSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: GISBFind
      description: <FONT color='red'>PENDING </FONT>Find GISB Profiles by Identifier.
      operationId: GetGISBFind
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Identifier
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: UseType
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ShowInactive
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBFindHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /GISBInfo:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: GISBInfo
      description: <FONT color='red'>PENDING </FONT>Get GISB Profile by CommID.
      operationId: GISBInfo
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/GISBInfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBInfoSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: GISBInfo
      description: <FONT color='red'>PENDING </FONT>Get GISB Profile by CommID.
      operationId: GetGISBInfo
      parameters:
      - name: SessionID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GISBInfoHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /NowUTC:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: NowUTC
      description: Current UTC Date/Time.
      operationId: NowUTC
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/NowUTCSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/NowUTCSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: NowUTC
      description: Current UTC Date/Time.
      operationId: GetNowUTC
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/NowUTCHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /InterchangeDate:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: InterchangeDate
      description: Get Date from EDI Envelope (ISA or UNB)
      operationId: InterchangeDate
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InterchangeDateSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InterchangeDateSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: InterchangeDate
      description: Get Date from EDI Envelope (ISA or UNB)
      operationId: GetInterchangeDate
      parameters:
      - name: InterchangeHeader
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InterchangeDateHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /Version:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: Version
      description: OpenEDI Version.
      operationId: Version
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/VersionSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VersionSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: Version
      description: OpenEDI Version.
      operationId: GetVersion
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VersionHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /X400Format:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: X400Format
      description: Convert X.400 Address Elements into Compatible ECGrid Format.
      operationId: X400Format
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/X400FormatSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/X400FormatSoapOut'
      deprecated: false
    get:
      tags:
      - OpenEDI API v1
      summary: X400Format
      description: Convert X.400 Address Elements into Compatible ECGrid Format.
      operationId: GetX400Format
      parameters:
      - name: Country
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: ADMD
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: PRMD
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Organization
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OrganizationalUnit1
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OrganizationalUnit2
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OrganizationalUnit3
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: OrganizationalUnit4
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Surname
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: GivenName
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Initials
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Generation
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: CommonName
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: DDA
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: X_121
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: N_ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: T_TY
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: T_ID
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/X400FormatHttpGetOut'
      deprecated: false
      servers:
      - url: https://openedi.org/v1/osb/api
        variables: {}
  /PricelistInfo:
    post:
      tags:
      - OpenEDI API v1 RPC
      summary: PricelistInfo
      description: <FONT color='red'>PENDING </FONT>Get Pricelist by PricelistID
      operationId: PricelistInfo
      parameters: []
      requestBody:
        description: ''
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/PricelistInfoSoapIn'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PricelistInfoSoapOut'
      deprecated: false
    get:
      tags:
[...]
